:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navybluecolor: #2e2f42;
  --oceancolor: #404bbf;
  --whitecolor: white;
  --slatecolor: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

/*Checked */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
}

/*Checked */
.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
}

/*Checked */
.logo {
  color: var(--iriscolor);
}

/*Checked */
.studio {
  color: var(--navyblue);
}

/*Checked */
.contacts-menu .item {
  text-decoration: none;
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*Checked */
.nav-menu .page {
  color: var(--navyblue, #2e2f42);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

/*Checked */
.list {
  list-style-type: none;
}

/*Checked */
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iriscolor);
}

/*Checked */
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background: var(--oceancolor);
  color: var(--cloud);
}

/*Checked */
.item {
  text-decoration: none;
}

/*Checked */
.hero-bg-hero {
  background: var(--navyblue);
}

/*Checked */
.hero-title {
  color: white;
  line-height: 1.07;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}

/*Checked */
.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

/*Checked */
.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

/*Checked */
.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.05em;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}

/*Checked */
.button.primary {
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whitecolor);
  background: var(--iris, #4d5ae5);
}

/*Checked */
.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
}

/*Checked */
.button.filter {
  color: var(--iris);
  background: var(--cloud);
  font-weight: 500;
  line-height: 1.62;
}

/*Checked */
.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

/*Checked */
.project .type {
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.87;
}

/*Checked */
.project {
  text-decoration: none;
}

/*Checked */
.benefits .title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
}

/*Checked */
.benefits .description {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
}

/*Checked */
.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

/*Checked */
.page-footer.bg-footer {
  background: var(--navyblue);
}

/*Checked */
.footer-description {
  color: var(--cloud, #f4f4fd);
}

/*Checked */
.studio-footer {
  color: var(--cloud, #f4f4fd);
}
