:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navybluecolor: #2e2f42;
  --oceancolor: #404bbf;
  --whitecolor: white;
  --slatecolor: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

.link-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 800;
}

.logo {
  color: var(--iriscolor);
}

.studio {
  color: var(--navyblue);
}

.nav-menu .page {
  color: var(--navyblue, #2e2f42);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  font-family: Roboto;
}

.list {
  list-style-type: none;
}

.nav-menu .list {
  list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover:hover,
.contacts-menu .item:focus {
  color: var(--oceancolor);
}

.contacts-menu .item {
  color: var(--navybluecolor);
  text-decoration: none;
}

.contacts-menu .item {
  color: var(--slate, #434455);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-family: Roboto;
}

.hero-bg-hero {
  background: var(--navyblue);
}

.hero-title {
  color: white;
  line-height: 1.5;
  text-align: left;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}

.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.05em;
  font-family: inherit;
}

.button.primary {
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
  border-radius: 4px;
  color: var(--whitecolor);
  background: var(--iris, #4d5ae5);
  font-family: Roboto;
  font-size: 16px;
}

.button-filter {
  color: var(--iris, #4d5ae5);
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.list2 {
  text-decoration: none;
}

.title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: left;
  padding-right: 50px;
}

.description {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: left;
  padding-right: 50px;
}

.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: left;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.list {
  text-decoration: none;
}

.team {
  color: var(--navyblue);
  font-weight: 800;
}

.position {
  color: var(--slatecolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.page-footer {
  background: var(--navyblue);
}

.footer-description {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
}
.link-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.logo {
  color: var(--iris, #4d5ae5);
}

.studio-footer {
  color: var(--cloud, #f4f4fd);
}

.word {
  color: white;
  width: 265px;
  height: 70px;
  top: 300px;
}

.project {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
}

.button-list2 {
  list-style-type: none;
}
